<app-common></app-common><hr>
<app-home-page></app-home-page><hr>
<app-list-contract></app-list-contract><hr>
<app-create-contract></app-create-contract><hr>
<app-list-contract-detail></app-list-contract-detail><hr>
<app-create-contract-detail></app-create-contract-detail><hr>
<app-list-customer></app-list-customer><hr>
<app-create-customer></app-create-customer><hr>
<app-list-employee></app-list-employee><hr>
<app-create-employee></app-create-employee><hr>
<app-list-service></app-list-service><hr>
<app-create-service></app-create-service>
