<app-common></app-common>
<div class="row">
  <div class="col-md-4 text-center" style="padding-top: 2px;padding-bottom: 2px">
    <button data-toggle="modal" data-target="#elegantModalForm" type="submit"
            style="border: 1px solid #00ff13 ; border-radius: 5px;height: 38px"><h6><i
      class="far fa-address-card"></i>&nbsp;Add new Contract</h6></button>
  </div>
  <div class="col-md-1"></div>
  <div class="col-md-6"><h2><i class="fas fa-align-left"></i>List Contract</h2></div>
  <div class="col-md-1" style="padding-top: 2px;padding-bottom: 2px">

  </div>
</div>
<div style="padding-left: 5%;padding-right: 5%">
  <form>
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">Customer-Id</th>
        <th scope="col">Customer-Name</th>
        <th scope="col">service-id</th>
        <th scope="col">Service-Name</th>
        <th scope="col">contract-id</th>
        <th scope="col">Attach-service</th>
        <th scope="col">Delete Contract</th>
      </tr>
      </thead>
    </table>
  </form>
</div>
