<app-common></app-common>
<div class="container-fluid create-all">
  <!--Body-->
  <form>
    <div class="form-label-group">
      <div class="row">
        <div class="col-md-2" style="text-align: center;padding-top: 5px">Id:</div>
        <div class="col-md-10"><input type="text" class="form-control"></div>
      </div>
    </div>
    <br>
    <div class="form-label-group">
      <div class="row">
        <div class="col-md-2" style="text-align: center;padding-top: 5px">Start Date:</div>
        <div class="col-md-10"><input type="date" class="form-control "></div>
      </div>
    </div>
    <br>
    <div class="form-label-group">
      <div class="row">
        <div class="col-md-2" style="text-align: center;padding-top: 5px">End Date:</div>
        <div class="col-md-10"><input type="date" class="form-control "></div>
      </div>
    </div>
    <br>
    <div class="form-label-group">
      <div class="row">
        <div class="col-md-2" style="text-align: center;padding-top: 5px">Deposit:</div>
        <div class="col-md-10"><input type="text" class="form-control"></div>
      </div>
    </div>
    <br>
    <div class="form-label-group">
      <div class="row">
        <div class="col-md-2" style="text-align: center;padding-top: 5px">Total Money:</div>
        <div class="col-md-10"><input type="text" class="form-control"></div>
      </div>
    </div>
    <br>
    <div class="form-label-group">
      <div class="row">
        <div class="col-md-2" style="text-align: center;padding-top: 5px">Employee:</div>
        <div class="col-md-10">
          <select class="form-control">
            <option></option>
          </select>
        </div>
      </div>
    </div>
    <br>
    <div class="form-label-group">
      <div class="row">
        <div class="col-md-2" style="text-align: center;padding-top: 5px">Customer:</div>
        <div class="col-md-10">
          <select class="form-control">
            <option></option>
          </select>
        </div>
      </div>
    </div>
    <br>
    <div class="form-label-group">
      <div class="row">
        <div class="col-md-2" style="text-align: center;padding-top: 5px">Service:</div>
        <div class="col-md-10">
          <select class="form-control">
            <option></option>
          </select>
        </div>
      </div>
    </div>
    <br>
    <div class="text-center mb-3">
      <button type="submit" style="background: #9fcdff"
              class="btn blue-gradient btn-block btn-rounded z-depth-1a">Add Contract
      </button>
    </div>
  </form>
  <div class="modal-footer mx-5 pt-3 mb-1">
    <p class="font-small grey-text d-flex justify-content-end">Support? <a href="#"
                                                                           class="blue-text ml-1">
      @NguyenTienHai</a></p>
  </div>
</div>
<!--Footer-->

