<app-common></app-common>
<div class="create-all container-fluid">
  <div class="form-label-group">
    <div class="row">
      <div class="col-md-4" style="text-align: center;padding-top: 5px">ID Customer:</div>
      <div class="col-md-8"><input type="text" class="form-control"></div>
    </div>
  </div>
  <br>
  <div class="form-label-group">
    <div class="row">
      <div class="col-md-4" style="text-align: center;padding-top: 5px">Name Customer:</div>
      <div class="col-md-8"><input class="form-control"></div>
    </div>
  </div>
  <br>
  <div class="form-label-group">
    <div class="row">
      <div class="col-md-4" style="text-align: center;padding-top: 5px">Birth Day Customer:</div>
      <div class="col-md-8"><input type="text" class="form-control">
      </div>
    </div>
  </div>
  <br>
  <div class="form-label-group">
    <div class="row">
      <div class="col-md-4" style="text-align: center;padding-top: 5px">Card Customer:</div>
      <div class="col-md-8"><input type="text" class="form-control">
      </div>
    </div>
  </div>
  <br>
  <div class="form-label-group">
    <div class="row">
      <div class="col-md-4" style="text-align: center;padding-top: 5px">Phone Customer:</div>
      <div class="col-md-8"><input type="text" class="form-control"></div>
    </div>
  </div>
  <br>
  <div class="form-label-group">
    <div class="row">
      <div class="col-md-4" style="text-align: center;padding-top: 5px">Email Customer:</div>
      <div class="col-md-8"><input type="text" class="form-control"></div>
    </div>
  </div>
  <br>
  <div class="form-label-group">
    <div class="row">
      <div class="col-md-4" style="text-align: center;padding-top: 5px">Address Customer:</div>
      <div class="col-md-8"><input type="text" class="form-control"></div>
    </div>
  </div>
  <br>
  <div class="form-label-group">
    <div class="row">
      <div class="col-md-4" style="text-align: center;padding-top: 5px">Rent Type Service:</div>
      <div class="col-md-8">
        <select class="form-control">
          <option value="Diamond">Diamond</option>
          <option value="Platinium">Platinium</option>
          <option value="Gold">Gold</option>
          <option value="Silver">Silver</option>
          <option value="Member">Member</option>
        </select>
      </div>
    </div>
  </div>
  <br>
  <div class="text-center mb-3">
    <button type="submit" style="background: #9fcdff"
            class="btn blue-gradient btn-block btn-rounded z-depth-1a">Add Product
    </button>
  </div>
  <!--Footer-->
  <div class="modal-footer mx-5 pt-3 mb-1">
    <p class="font-small grey-text d-flex justify-content-end">Support? <a href="#"
                                                                           class="blue-text ml-1">
      @NguyenTienHai</a></p>
  </div>
</div>
