<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link rel="stylesheet" href="/bootstrap-4.5.2-dist/css/bootstrap.min.css"
              th:href="@{/bootstrap-4.5.2-dist/css/bootstrap.min.css}">

    </head>
<body  th:fragment="body">
<div class="container">
    <div class="row">

            <div class="col-md-3" style="padding-top: 1%;padding-bottom: 1%">
                <img src="/bootstrap-4.5.2-dist/image/CodeGym-3-02-copy.jpg" height="100%" width="100%" style="border: 8px solid #f3eaff" />
            </div>

        <div class="col-md-3 ">
            <h1 style="padding-top: 10%">Tiến Hải</h1>
        </div>
        <div style="padding-top: 5%" class="col-md-1 ">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="/question">Home</a></li>
                </ul>
            </nav>
        </div>
        <form class="form-inline my-2 my-lg-0 col-md-5" method="post" th:action="@{/question/searchAll}">
            <div class="row" style="padding-top: 9%">
                <select th:name="selectSearch" >
                    <option value="title" th:selected="${name=='title'}">title</option>
                    <option value="typeQuestion" th:selected="${name=='typeQuestion'}">typeQuestion</option>
                    <option value="all" th:selected="${name=='all'}">all</option>
                </select>
            <input class="form-control " type="search" placeholder="Search" aria-label="Search"
                   th:value="${value}"
                   name="inputSearch" id="inputSearch">
            <button class="btn btn-outline-success " type="submit">Search</button>
            </div>
        </form>
    </div>
    <hr>
</div>
</body>
<script src="/bootstrap-4.5.2-dist/jquery-3.5.1.min.js" th:src="@{/bootstrap-4.5.2-dist/jquery-3.5.1.min.js}"></script>
<script src="/bootstrap-4.5.2-dist/js/bootstrap.min.js"
        th:src="@{/bootstrap-4.5.2-dist/css/bootstrap.min.css}"></script>
<script src="/bootstrap-4.5.2-dist/js/bootstrap.bundle.min.js"
        th:src="@{/bootstrap-4.5.2-dist/js/bootstrap.bundle.min.js}"></script>
<script src="/bootstrap-4.5.2-dist/fontawesome/js/all.js" th:src="@{/bootstrap-4.5.2-dist/fontawesome/js/all.js}"></script>
</html>