<app-common></app-common>
<div class="create-all container-fluid">
    <!--Body-->
    <div class="form-label-group">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-10">
          <span style="color: red"></span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2" style="text-align: center;padding-top: 5px">Id:</div>
        <div class="col-md-10"><input type="text" class="form-control"
                                      placeholder=""></div>
      </div>
    </div>
    <br>
    <div class="form-label-group">
      <div class="row">
        <div class="col-md-2" style="text-align: center;padding-top: 5px">Quantity:</div>
        <div class="col-md-10"><input type="text" class="form-control"></div>
      </div>
    </div>
    <br>
    <div class="form-label-group">
      <div class="row">
        <div class="col-md-2" style="text-align: center;padding-top: 5px">AttachService:</div>
        <div class="col-md-10">
          <select class="form-control">
            <option></option>
          </select>
        </div>
      </div>
    </div>
    <br>
    <div class="form-label-group">
      <div class="row">
        <div class="col-md-2" style="text-align: center;padding-top: 5px">Contract:</div>
        <div class="col-md-10">
          <select class="form-control">
            <option></option>
          </select>
        </div>
      </div>
    </div>
    <br>
    <div class="text-center mb-3">
      <button type="submit" style="background: #9fcdff"
              class="btn blue-gradient btn-block btn-rounded z-depth-1a">Add Contract Detail
      </button>
    </div>
    <div class="modal-footer mx-5 pt-3 mb-1">
      <p class="font-small grey-text d-flex justify-content-end">Support? <a href="#"
                                                                             class="blue-text ml-1">
        @NguyenTienHai</a></p>
    </div>
  <!--Footer-->

</div>
